/* MapStyles.css */
#map-view .income-form {
    display: flex;
    flex-direction: column; /* Cambia la dirección del flujo principal para apilar verticalmente */
}
#map-view .form-content {
    display: flex;
    justify-content: space-between; /* Esta línea debería empujar el .movement-type y .date-buttons a los extremos opuestos */
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
}

#map-view .movement-type {
    flex-grow: 1;
}

#map-view .movement-type label {
    margin-right: 5px; /* Espacio entre el botón de radio y su etiqueta */
  }

#map-view .movement-type input { 
    margin-left: 30px;
}

#map-view .date-buttons {
    display: flex;
    justify-content: flex-end;
    flex-grow: 0;
    padding-right: 1em;
    margin-right: 200px;
    margin-top: -70px;
    margin-bottom: 30px;
  }

#map-view .date-input {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

#map-view .date-button {
    padding: 11px 18px;
    background-color: #e1e5ea; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

#map-view .calendar-wrapper {
    position: absolute;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

#map-view .date-input p {
    font-size: 0.9rem;
    color: #000;
    margin: 0;
    padding-bottom: 5px;
}
