/* HomeStyles.css */
.home-container{
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.left-h {
    flex: 1;
    width: 20%;
}

.right-h {
    width: 80%;
    flex: 3;
}

.left-in,
.right-in {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-top: 20px;
}

.left-in{
    margin-left: 28px;
}
.button-container {
    height: 450px;
    display: flex;
    flex-direction: column;
}
.left-bu {
    width: 80%;
    flex: 3;
}

.right-bu {
    flex:1;
}

/* Estilos para el botón "Gestión y Administración" */
.gestion {
    background: linear-gradient(to right, rgba(240, 240, 240, 0.8), rgba(204, 204, 204, 0.8));
    font-weight: bold;
    color: #333333;
    height: 77%;
    position: relative;
}
.gestion .button-text {
    position: absolute;
    bottom: 60px;
}
.gestion .sub-button {
    position: absolute;
    bottom: 25px;
}
.gestion .right-bu {
    position: absolute;
    top: 70%;
    right: 10%; 
    transform: translateY(-50%);
}
.gestion .right-bu svg {
    font-size: 6.8rem;
    color: #828181;
}
/* Media query para ajustar estilos en dispositivos más pequeños */
@media (max-width: 768px) {
    .gestion {
        position: relative;
        align-items: center;
    }
    .gestion .right-bu {
        position: relative;
        top: 18%; 
        right: 24%;   
    }
}

/* Estilos para el botón "Facturación" */
.facturacion {
    background: linear-gradient(to right, rgba(27, 47, 142, 0.453), rgba(27, 47, 142, 0.8));
    font-weight: bold;
    color: #142165;
    height: 23%;
}

/* Estilos para el botón "Nueva Venta (Nuevo préstamo)" */
.nueva-venta {
    background: linear-gradient(to right, rgba(220, 53, 70, 0.453), rgba(189, 33, 48, 0.8));
    font-weight: bold;
    color: #620c0c;
    height: 25%;
}

/* Estilos para el botón "Aprobaciones" */
.aprobaciones {
    background: linear-gradient(to right, rgba(255, 193, 7, 0.453), rgba(211, 158, 0, 0.8));
    font-weight: bold;
    color: #594302;
    height: 25%;
}

/* Estilos para el botón "Mapa" */
.mapa {
    background: linear-gradient(to right, rgba(40, 167, 70, 0.453), rgb(27, 181, 70, 0.8));
    font-weight: bold;
    color: #0a441a;
    height: 25%;
}

/* Estilos para el botón "Configuración" */
.configuracion {
    background: linear-gradient(to right, rgba(108, 117, 125, 0.576), rgba(72, 79, 86, 0.8));
    font-weight: bold;
    color: #232629e6;
    height: 25%;
}

.custom-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    margin: 8px auto;
    text-align: left;
    align-self: flex-end;
    position: relative;
}

.custom-button:hover {
    filter: brightness(85%);
}

.sub-button {
    background-color: white;
    color: #2a2a2a;
    font-weight: bold;
    font-size: 11px;
    width: 80px;
    padding: 5px 10px;
    border-radius: 15px;
    margin-top: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    align-self: flex-end;
}

.sub-button:hover {
    filter: brightness(95%);
}
.custom-button .right-bu {
    font-size: 3.8em;
}

.left-in .custom-button .right-bu {
    font-size: 3.8em;
}