/* HeaderStyles.css */
.header {
    display: flex;
    justify-content: space-between; 
    background-color: white;
    align-items: center;
    height: 100px;
    position: relative; 
}

.header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 37px;
    width: 93%; 
    height: 1px;
    background-color: #dddddd; 
}

.header-info{
    list-style: none;
    margin-top: 23px;
}
.return a {
    color: var(--ligthBlue);
    font-size: 15px;
    text-decoration: none;
}
.header-title{
    color: var(--blue);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: -12px;
}
.header-user{
    list-style: none;
    margin-top: 25px;
    display: flex; 
    align-items: center;
}
.notification-button {
    margin-right: 15px;
    cursor: pointer;
}
.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}
.user-info .name{
    font-weight: bold;
    font-size: 13px;
}
.user-info .user {
    font-size: 10px;
    color: rgb(87, 87, 87);
}
.user-photo img {
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info span {
    font-size: 15px;
}
.dropdown-icon {
    cursor: pointer;
    margin-right: 30px;
    width: 8px; 
    height: 8px;
    color: rgb(118, 117, 117);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    padding: 10px;
}