.createKey-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
    white-space: nowrap;
    color: #128a10;
    border: none;
    font-weight: 500;
    margin-right: 30px;
    height: 35px;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #bdfcbc;
}

.createKey-button:hover {
    filter: brightness(90%);
}

.filter-form-inline {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    padding: 10px;
}

.filters-approvals {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: -20px;
    margin-top: -25px;
    margin-bottom: 10px;
    width: 80%;
}

.filter-field-insurance{
    margin-top: -20px;
}

.select-insurance{
    width: 200px;
}

/* Estilos para los checkboxes */
.checkbox-button {
display: inline-flex;
align-items: center;
justify-content: center;
margin-right: 3px;
width: 24px;
height: 24px;
border: 2px solid transparent;
border-radius: 4px;
background-color: #9b9b9b;
cursor: pointer;
transition: background-color 0.3s ease, border-color 0.3s ease;
}

.checkbox-button.active-check {
background-color: #1bb546;
border-color: #1bb546;
}

.checkbox-button.active-times {
background-color: #cc1515;
border-color: #cc1515;
}

.checkbox-button:hover {
    filter: brightness(90%);
}

.check-icon,
.times-icon {
color: white;
font-size: 14px;
}

.table-container {
    overflow-x: auto;
}

.sales-table th, .sales-table td {
    max-width: 80px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
.sales-table th{
    font-size: 14px;
}