/* CreateUnitStyles.css */
.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 33px;
    margin-right: 30px;
}

.form-group {
    flex-basis: calc(25% - 10px); 
    margin-bottom: 30px;
}

.form-group label {
    display: block; 
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 90%;
    padding: 8px;
    border: 1px solid #757575;
    border-radius: 5px;
}

.create-button {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.create-button:hover {
    filter: brightness(90%);
}
.create{
    background-color: #1bb546;
}
.cancel{
    background-color: #cc1515;
}
.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;
  margin-left: 40%;
  margin-top: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #1bb546;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1bb546;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-label {
  margin-left: 42%;
  vertical-align: middle;
}
/* SEGUNDO SWITCH SLIDER */

.switch2 {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch2 input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider2:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input2:checked + .slider2 {
  background-color: #1bb546;
}

input2:focus + .slider2 {
  box-shadow: 0 0 1px #1bb546;
}

input2:checked + .slider2:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider2.round {
  border-radius: 34px;
}

.slider2.round:before {
  border-radius: 50%;
}


