/* MetricsButtonStyles.css */
.custom-metric-button {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
  }

  .chart-container {
    width: 100px; /* Ajusta este valor según sea necesario */
    height: 50px; /* Ajusta este valor según sea necesario */
  }

  .sub-charts-summary-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Añade espacio entre los resúmenes y los gráficos */
  }
  .summary-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
  }

  .summary-title {
    font-weight: bold;
    margin-bottom: 4px; /* Ajustar según sea necesario */
  }
  
  .summary-value {
    font-size: 0.83em; /* Ajustar según sea necesario */
  }

  .metrics-title {
    font-size: 16px;
    font-weight:  bolder;
    text-align: left;
    color: black;
    margin-bottom: 8px;
    padding-bottom: 8px;
  }

  .main-chart {
    width: 60%; /* Ajusta el porcentaje según necesites */
    /* Estilos adicionales para el chart principal si son necesarios */
  }
  
  .sub-charts {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    grid-template-rows: repeat(2, 1fr); /* 2 filas */
    gap: 10px;
    align-items: center;
  }

.chart-with-summary {
    display: grid;
    grid-template-columns: auto 1fr; /* espacio para el summary y luego el chart */
  }
  
  .summary {
    margin-right: 10px;
  }
  