.custom-metric-button {
  display: flex;
  flex-direction: column; /* Estructura principal en columna */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.header-with-action {
  display: flex;
  justify-content: space-between; /* Alinea el título y el botón en los extremos */
  align-items: center; /* Centra los elementos verticalmente */
  margin-bottom: 10px; /* Espacio entre esta sección y los gráficos */
}

.metrics-title {
  font-size: 28px;
  font-weight: bold;
  color: black;
}

.action-button {
  order: 2;
  margin-right: 10px;
}

.main-chart-container {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Alinea los gráficos principal y secundarios */
  align-items: center;
}

.main-chart {
  display: flex;
  position: relative;
  width: 50%;
}
.main-chart::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 93%;
  border-left: 2px solid #ccc;
}

.sub-charts-summary-container {
  width: 50%; /* El contenedor de los sub-charts toma el 40% del espacio */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  grid-template-rows: auto auto; /* Dos filas, altura automática */
  gap: 10px; /* Espacio entre charts */
}

.chart-with-summary {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}

.summary-container {
  display: flex;
  flex-direction: column; /* Organiza el título y el valor del resumen en columna */
  margin-bottom: 5px; /* Espacio entre el resumen y el gráfico */
}

.summary-title {
  font-weight: bold;
}

.summary-value {
  font-size: 0.82em;
}
