/* SalesStyles.css */
.filters{
    display: flex;
    margin-top: 50px;
}
.date-buttons {
    margin-top: -50px;
}

.date-inputs {
    display: flex; 
    font-size: 0.9em;
    font-weight: 500;
}

.date-input {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.date-button {
    padding: 12px 18px;
    background-color: #e1e5ea; 
    border: 1px solid #ccc;
    color: #2b2a2a;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 200px;
}

.calendar-wrapper {
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.react-calendar {
    border: none;
}

.react-calendar__tile--active {
    background-color: var(--green);
    color: #fff;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background-color: var(--aquamarine);
}

.react-calendar__tile--now {
    background-color: #f0f0f0;
    color: var(--green);
}
